<div>
    <div class="container-fluid bg-grey">
        <h2 class="txt-contact-us">CONTACT</h2>
        <div class="row">
            <div class="col-sm-5">
                <p>Contact us and we'll get back to you within 24 hours.</p>
                <div style="text-align: left;">
                    <p><span class="glyphicon glyphicon-map-marker"></span> Mumbai, IN</p>
                    <p><span class="glyphicon glyphicon-envelope"></span> crcevishal@gmail.com</p>
                </div>
                </div>
            <div class="col-sm-7">
                <div class="row">
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
                    </div>
                    <div class="col-sm-6 form-group">
                        <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
                    </div>
                </div>
                <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea><br>
                <div class="row">
                    <div class="col-sm-12 form-group">
                        <button class="btn btn-primary" type="submit">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
