
.txt-contact-us{
        width: 100%;
        margin:auto;
        font-size: 1em;
        font-family: 'FontName', Helvetica, Arial, sans-serif;
        padding-bottom: 2%;
        padding-top:4% ;
        text-align: center;
    }
