.inloder{
    width: 100%;
    height:100vh;
    padding: 45%;
    background-color: rgb(218, 216, 216);
}

.entrylist{
    width:50%; margin:auto;
    
}
.text{
    text-align: center;
    
}
.marginBottom{
    margin-top: 5em;
}
.container{
    margin-top: 3em;
    background-image: url('../../../assets/images/journalbg.png');
    background-repeat: repeat-y;
    background-position: center;
    background-size: contain;
}

hr{
      border-top: 1px dashed;
}

@media only screen and (max-width: 800px) {
  .entrylist {
      width: 90%;   
         
}
.marginBottom{
    margin-top: 2em;
}
}