<div>
    <app-navbar>
    
    </app-navbar>
    <br>
    <div  *ngIf="loading else loaded">
        loading.....
        <div class=" spinner-border text-primary"></div>
        
    </div>
    <ng-template #loaded >
        <div class="container-md ">
            <h4 class="text p-2">
                Welcome {{name}}
            </h4>
            <div class="text-black-50 mt-1" *ngIf="isNoEntry">
                <h4>Welcome to journalIt !</h4> <br>
                <h5>Start your journaling journey with us</h5>
                <br>
            
            </div>
            <div>
                <a  [routerLink]="['/editor']" routerLinkActive="router-link-active"  class="btn btn-outline-success float-md-right m-1">Add Entry</a>
            </div>
            <div *ngIf="!isNoEntry">
                <a (click)="DeleteAll()" [routerLink]="['/journal']" routerLinkActive="router-link-active"
                    class="btn btn-outline-danger float-md-right m-1">Delete All</a>
            </div>
        
            <div *ngIf="!isNoEntry">
                <div *ngIf="!isoldselected" class="right">
                    <button class="btn btn-outline-info float-md-right m-1" (click)="SortDate()"> Old Entries First </button>
                </div>
                <div *ngIf="isoldselected" class="right">
                    <button class="btn btn-outline-info float-md-right m-1" (click)="ngOnInit()"> New Entries First </button>
                </div>
            </div>
            <div class="marginBottom">
                <div class="entrylist " *ngFor="let entry of entries">
                    <div [innerHTML]>
                        <strong>Title:</strong> {{ entry.title.substring(0,30)}}....
                        <br>
                        <strong>date:</strong> {{entry.date}}
                    </div>
                    <br>
                    <input type="button" class="btn btn-danger" (click)="deleteEntry(entry)" value="delete ">
                    <a routerLink="/update"> <input type="button" class="btn btn-primary" (click)="updateEntry(entry)"
                            value="edit "></a>
                    <a routerLink="/show-all"> <input type="button" class="btn btn-primary" (click)="showEntry(entry)" value="show"></a>
                    <br>
                    <hr>
                </div>
            </div>
            
        </div>
    </ng-template>

</div>
