<div>
    <app-navbar>
    
    </app-navbar>
    <br>

    <div class="container">
        <div class="center p-2">
            Welcome {{username}}
        </div>

        <div>
            <div *ngIf="!isoldselected" class="right">
                <button class="btn btn-link" (click)="SortDate()"> Old Entries First </button>
            </div>
            <div *ngIf="isoldselected" class="right">
                <button class="btn btn-link" (click)="ngOnInit()"> New Entries First </button>
            </div>
        </div>
        
        <div class="center" *ngIf="isNoEntry">
            Welcome to journal It <br>
            start your journaling journey with us 
            <br>

            <button [routerLink]="['/editor']" routerLinkActive="router-link-active" >Add enttries</button>
        </div>
        <div class="entrylist"  *ngFor="let entry of entries">
            <div [innerHTML]>
                <strong>Title:</strong>  {{ entry.title.substring(0,30)}}....
                <br>
                <strong>date:</strong> {{entry.date}}
            </div>
            <br>
            <input type="button" class="btn btn-danger" (click)="deleteEntry(entry)" value="delete ">
            <a routerLink="/update"> <input type="button" class="btn btn-primary" (click)="updateEntry(entry)"
                    value="edit "></a>
            <a routerLink="/show-all"> <input type="button" class="btn btn-primary" (click)="showEntry(entry)"  value="show"></a>
            <br>
            <hr >
        </div>
    </div>   

</div>
