

.txt-about-us{
        width: 100%;
        margin:auto;
        font-size: 2rem;
        font-family: 'FontName', Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 2%;
    }

.container{
text-align: justify;
width: 80%;
    margin: auto;
    font-size: 1.2em;
    padding-top: 2em;
    text-align: center;
    padding-bottom: 2em;
}

