<div>
    <app-navbar>
    
    </app-navbar>
    <div>
        <br>
        <br>
        <div class="txt-about-us">
            <p>About journalIT</p>
        </div>
        <div class=" container jumbotron">
            <p>
                journalIT is a free website to manage your private journal. All the features are free to use.
                All the user data is encrypted. JournalIT keeps your journals protected with password protection and military strength
                encryption so you can rest easy
                knowing that your entries are secure with JournalIT.
            </p>
            <p >
                future updates will include <span style="color:green; font-size:1.1em">Bullet Journal,Task Manager, Habit Tracker </span>.
                Don't miss a precious moment, Idea. Note it now.
            </p>
            <app-contact>
            
            </app-contact>
            </div>
           
    </div>
    
</div>