.logo{

width: 15%;

}

.nav-color{
    background-color: #4ac1ba;
}

.nav-text{
    color: black;
    font-weight: 900;
}

.link{
    color: black;
}

@media only screen and (max-width: 600px) {
  .logo {
        width: 65%;
}
}