

<div>
<nav class="navbar fixed-top navbar-expand-sm  navbar-light bg-light">

    <img class="logo navbar-brand " src="../../../assets/images/logo/logo2.png" alt="logo" />


    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav link nav-text">
            <li class="nav-item">
                <a class="nav-link  " routerLink="/">HOME</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/about">ABOUT</a>
            </li>
            <li class="nav-item">
                <a class="nav-link " routerLink="/journal">JOURNAL</a>
            </li>     
            <li class="nav-item">
                <a class="nav-link" *ngIf="!authservice.logedIn()" [routerLink]="['/login']">LOGIN</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="!authservice.logedIn()" [routerLink]="['/register']">REGISTER</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" *ngIf="authservice.logedIn()" (click)="authservice.logout()">LOGOUT</a>
            </li>
        </ul>
    </div>
</nav>
<br><br>
</div>

