

<div>
<nav class="navbar navbar-expand-sm  navbar nav-color navbar-light">

    <a class="navbar-brand " href="#"><img class="logo" src="../../../assets/images/logo/logo2.png" alt="logo" />

    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav link">
            <li class="nav-item">
                <a class="nav-link nav-text " routerLink="/editor">Editor</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" routerLink="/about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link nav-text" routerLink="/journal">Journal</a>
            </li>
        </ul>
    </div>
</nav>

</div>

