 .inloader{
       width: 100%;
    height:100vh;
    padding: 45%;
    background-color: rgb(218, 216, 216);

 }   
.editor{
    height: 100vh;
    background-image: url('../../../../assets/images/journalbg.png');
    background-repeat: repeat-y;
    background-position: bottom right ;
    background-size: contain;
}

    .alert-danger {
        color: #a94442;
        background-color: #f2dede;
        border-color: #ebccd1;
    }

    #btn-container {
        margin-top: 10px;
    }
