<div >
    <div class="discription">
        <h3>
            <span class="brand-name"> JournalIT</span>: Your digital friend who definetly keep your secrete.
        </h3><br>
        
        <p >
            Are you looking to record your daily ideas, thoughts, emotions and activities but hate to write it down? well, JournalIT
            is for you :)<br>
            With JournalIT you can preserve your precious moments, Ideas even set the goals and track them down.
        </p>
        <p></p>
    </div>
    

</div>