.discription{

    width: 80%;
    margin: auto;
    font-size: 1.5em;
    padding-top: 5em;
    text-align: center;
    padding-bottom: 2em;

}


.brand-name{
    font-size: 1.5em;
    font-family: 'Caveat', cursive;
    color: #77006c;
}

