

 .carousel-inner img {
    width: 100%;
    height: 100%;
  }
.txt-why-us{
        width: 100%;
        margin:auto;
        font-size: 2rem;
        font-family: 'FontName', Helvetica, Arial, sans-serif;
    text-align: center;
    padding-bottom: 5%;
    }

.carousel{
    color:black;
    background-color: black;
}
.carousel-indicators .active{
    background-color: rgb(145, 56, 247);
}

.carousel-control-prev{
    background-color: black;
    width: 7%;
}
.carousel-control-next{
    background-color: black;
        width: 7%;

}





@media only screen and (min-width:900px) {
  .carousel {
    
    width: 80%;
    margin: auto;
}
}


