<div class="why-us" >
    <div class="txt-why-us">
        <p>why journalIT</p>
    </div>
    <div class="container feature-ele">
        <div class="row ">
            <div class="col-sm-6 features">
                <img class="img-fluid feature-box" src="../../../assets/images/features/feature_1_1.png" alt="feature1">
    
            </div>
            <div class="col-sm-6 features">
                <img class="img-fluid feature-box" src="../../../assets/images/features/feature_1_2.png" alt="feature2">
            </div>
        </div>
        <div class="row ">
            <div class="col-sm-6 features">
                <img class="img-fluid feature-box" src="../../../assets/images/features/feature_1_3.png" alt="feature3">
            </div>
            <div class="col-sm-6 features">
                <img class="img-fluid feature-box" src="../../../assets/images/features/feature_1_4.png" alt="feature4">
            </div>
        </div>
    </div>

</div>