
<div >
    <app-navbar>
    
    </app-navbar>

    <div *ngIf="loading;else loaded">
        loading.....
        <div class=" spinner-border text-primary"></div>
    </div>
    <ng-template #loaded>
        <div class="show">
            <div class="container">
                <div class="bg">
                    <div class="title1">
                        <div class="text">
                            {{title}}
                        </div>
                    </div>
                    <div class="entry">
                        <div class="date">
                            {{date}}
                        </div>
                        <div class="bodydata">
                            <div [innerHTML]="body"></div>
                            <div class="lastupdate">
                                Last Updated On : {{lastupdatetime}}
                            </div>
                        </div>
        
                        <div class="buttons">
                            <a routerLink="/journal"> <input type="button" class="btn btn-info" value="Back "></a>
                            <a routerLink="/update"> <input type="button" class="btn btn-primary" (click)="update()"
                                    value="Edit"></a>
                        </div>
                    </div>
        
                </div>
            </div>
        </div>
    </ng-template>
    
</div>